.border-activity {
  border-style: outset;
  background: #f0f1f0;
  border: 2px outset grey;
  border-radius: 3px;
  margin-right: auto;
  margin-left: auto;
  width: 400px;
}

.label {
  margin-left: 5px;
}

.margin {
  margin: 0px;
  margin-left: 10px;
}

.editText {
  font-weight: bold;
  font-family: 'Shadows Into Light Two', cursive;
  border: 0px;
  background: #f0f1f0;
}

.listener {
  display: flex;
  justify-content: space-between;
  border: 2px solid grey;
  padding: 5px;
  border-radius: 5px;
}

.margin-top {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 350px;
  overflow: scroll;
}

.username-margin {
  border-radius: 5px;
  margin-left: 72px;
}

.place-margin {
  border-radius: 5px;
  margin-left: 100px;
}

.login-center {
  display: flex;
  padding-top: 40px;
  width: auto;
  justify-content: center;
}

.login {
  font-family: 'Shadows Into Light Two', cursive;
  font-weight: bold;
  width: 350px;
  border: 2px outset grey;
  border-style: outset;
  border-radius: 5px;
  background: #f0f1f0;
}

.login-button {
  font-family: 'Shadows Into Light Two', cursive;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.log-button {
  font-family: 'Shadows Into Light Two', cursive;
  font-weight: bold;
}
