#title {
  padding: 10px;
  height: 0px;
  font-family: 'Shadows Into Light Two', cursive;
}

.margin p {
  font-weight: bold;
  font-family: 'Shadows Into Light Two', cursive;
  margin: 0px;
  padding: 2px;
}

a {
  text-decoration: none;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  margin: 0;
}

.header {
  padding: 20px;
  display: flex;
  justify-content: center;
  margin: 0;
  background: white;
  height: 60px;
  background: #f41111;
}

.nav {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  background: #ac0c0c;
  font-family: monospace;
  color: white;
  font-family: 'Shadows Into Light Two', cursive;
}

.image {
  padding: 10px;
  float: left;
}

.red {
  color: #696969;
  background: #ad9fa1;
  border-radius: 5px;
  border-color: grey;
  float: right;
  margin: 0px;
}

.red:hover {
  color: red;
  background: #bdbdbd;
  border-radius: 5px;
  border-color: grey;
}

.green {
  font-family: 'Shadows Into Light Two', cursive;
  color: white;
  background: green;
  border-radius: 5px;
  padding-left: 113px;
  padding-right: 113px;
  width: 300px;
}

.green:hover {
  color: white;
  background: #1ee42b;
}

.box {
  border-radius: 5px;
  border-color: #08bea8;
  width: 300px;
}

.center {
  font-family: 'Shadows Into Light Two', cursive;
  text-align: center;
}

.brown {
  color: white;
}

.ss {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
