.img {
  width: 720px
}

.search {
  display: flex;
  justify-content: center;
}

li .navigation {
  color: white;
}

.nav-background {
  display: flex;
  justify-content: space-around;
  background: #3e3e3e;

}
